doctype xml
Map srs="+proj=merc +lon_0=0 +lat_ts=0 +x_0=0 +y_0=0 +ellps=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs"
 
  / xi:include href="styles/background_polygon.xml"/
  Style name="zoning_uses"
    Rule
      Filter [zoning_use] = 'residential'
      PolygonSymbolizer fill="cyan"

    Rule
      Filter [zoning_use] = 'special_purpose'
      PolygonSymbolizer fill="blue"

    Rule
      Filter [zoning_use] = 'commercial'
      PolygonSymbolizer fill="green"

    Rule
      Filter [zoning_use] = 'industrial' or [zoning_use] = 'unknown'
      PolygonSymbolizer fill="yellow"

  Layer name="TCAD Parcels" srs="+proj=lcc +lat_1=31.88333333333333 +lat_2=30.11666666666667 +lat_0=29.66666666666667 +lon_0=-100.3333333333333 +x_0=699999.9998983998 +y_0=3000000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=us-ft +no_defs"
    / xi:include href="data_sources/housing_market_pgis.xml"/

    Datasource 
      Parameter name="type"                 postgis
      Parameter name="host"                 localhost
      Parameter name="dbname"               housing_market
      Parameter name="user"                 housing_market
      Parameter name="password"             housing_market
      Parameter name="table"                zone_objects
      Parameter name="geometry_field"       geom
      Parameter name="estimate_extent"      true
      Parameter name="connect_timeout"      120
  
    StyleName zoning_uses
