doctype xml
Include[xmlns:xi="http://www.w3.org/2001/XInclude"]
  Datasource type="postgis" estimate_extent="true"
    Parameter name="host"                 leo.local
    Parameter name="dbname"               housing_market
    Parameter name="user"                 housing_market
    Parameter name="password"             housing_market
    Parameter name="table"                properties
    Parameter name="geometry_field"       geom
    Parameter name="simplify_geometries"  true

